/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
   
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

h1, h2 {
    font-family: "DM Serif Display", serif;
    color:  #184f63;
}

#about {
    background-color: white;

}

#portfolio {
    background-color: #dbdcde;
}

#contact {
    background-color: white;
}

#hero {
    background-image: src("../images/background.webp"); 
    background-position: 50% 70%;
    padding: 5% 7%;
    background-size: cover;
    min-height: 500px;
    background-color: lightgray;
}